<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"></link>
  </head>
  <body>
    <div id="main" class="container">
      <% include templates/pageHeader %>
	  <%- navbar %>
	  <div id="errorMessage" class="alert alert-info">
		<p id="name"><%= firstName %> <%= lastName %></p>
		<p id="email"><%= email %></p>
	  </div>
	  <div class="well">
		<h3>
			Search the stocks you are interested in by providing their symbols and add them to your portfolio.
			Analyse you loss and gain easily.
		</h3>
		<h2> Happy Trading!!! </h2>
	  </div>
	 </div>
	<% include templates/pageFooter %>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/bootstrap.js"></script>
  </body>
 </html>