<div id="menu">
	    <ul>
		  <a href="/home"><li class="topmenusele">Home</li></a>
		  <a href="/portfolio"><li class="topmenusele">Portfolio</li></a>
		  <a href="/searchStock"><li class="topmenusele">Search Stocks</li></a>
		  <a href="/aboutUS"><li class="topmenusele">About Us</li></a>
		  <a href="/contactUs"><li class="topmenusele">Contact Us</li></a>
		  <a href="/advertise"><li class="topmenusele">Advertise</li></a>
		</ul>
</div>