<div id="menu">
	    <ul>
		  <a href="/aboutUS"><li class="topmenusele">About Us</li></a>
		  <a href="/contactUs"><li class="topmenusele">Contact Us</li></a>
		  <a href="/advertise"><li class="topmenusele">Advertise</li></a>
		</ul>
</div>