<nav id="menu" class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="/"><img id="logo" src="images/logo.png" /></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/home">Home</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/searchStock">Search Stock</a></li>
				<li><a href="/aboutUS">About Us</a></li>
				<li><a href="/contactUs">Contact Us</a></li>
				<li><a href="/advertise">Advertise</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><form id="logoutform" method ="post" action="/logout"><input type="submit" name="Logout" value="Logout" /></form></li>
			</ul>
		</div>
	</div>
</nav>